<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-6 text-right">
            Image
        </div>
        <div class="col-xs-6 text-left">
            content
        </div>
    </div>
</div>